[submodule "apps/desktop/vendor/genoffice"]
	path = apps/desktop/vendor/genoffice
	url = https://github.com/NxcoreAI/genoffice.git
[submodule "submodules/nxcoreasr"]
	path = submodules/nxcoreasr
	url = https://code.vyitec.com/nexcore/nxcoreasr.git
